node-red-snmp-monitor-jam.json.txt
[
    {
        "id": "3149f240.c0e25e",
        "type": "inject",
        "z": "1e1d57d2da5bb7c6",
        "name": "Array of IP-hosts",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"192.168.1.1\",\"192.168.68.129\"]",
        "payloadType": "json",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "bd57baa6.00f998"
            ]
        ]
    },
    {
        "id": "bd57baa6.00f998",
        "type": "split",
        "z": "1e1d57d2da5bb7c6",
        "name": "Split array",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 260,
        "y": 980,
        "wires": [
            [
                "e147ab4c04a12f1c"
            ]
        ]
    },
    {
        "id": "e147ab4c04a12f1c",
        "type": "change",
        "z": "1e1d57d2da5bb7c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "81bd846ed0937064"
            ]
        ]
    },
    {
        "id": "81bd846ed0937064",
        "type": "snmp",
        "z": "1e1d57d2da5bb7c6",
        "host": "",
        "version": "2c",
        "timeout": 5,
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3.6.1.2.1.1.5.0",
        "name": "",
        "x": 530,
        "y": 920,
        "wires": [
            [
                "9c18480a62183ef0"
            ]
        ]
    },
    {
        "id": "9c18480a62183ef0",
        "type": "function",
        "z": "1e1d57d2da5bb7c6",
        "name": "convert_buffertostring",
        "func": "//var bufferdata = msg.payload[\"192.168.68.129\"][0].value;\nvar bufferdata = msg.payload[0].value\n//var bufferdata = [84, 78, 78, 65, 83, 49];\nconst b = Buffer.from(bufferdata);\n//payload[\"192.168.68.129\"][0].value\nmsg.payload = b.toString();\nreturn msg;\n\n// payload[\"192.168.68.129\"][0].value\n\n// [84,78,78,65,83,49]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "835eb0b49446d83b",
                "7f28bac3b5ab2041"
            ]
        ]
    },
    {
        "id": "7f28bac3b5ab2041",
        "type": "debug",
        "z": "1e1d57d2da5bb7c6",
        "name": "debug 381",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1120,
        "wires": []
    },
    {
        "id": "835eb0b49446d83b",
        "type": "switch",
        "z": "1e1d57d2da5bb7c6",
        "name": "checkif",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TNNAS1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ubnt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "f50ba25adc7bf2f7",
                "e7dad12d8e8a8ffe"
            ],
            []
        ]
    },
    {
        "id": "f50ba25adc7bf2f7",
        "type": "file",
        "z": "1e1d57d2da5bb7c6",
        "name": "",
        "filename": "c:\\temp\\snmpdata.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 820,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ddf0d4a75f2c6754",
        "type": "e-mail",
        "z": "1e1d57d2da5bb7c6",
        "server": "smtp.mail.yahoo.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "torenor10@gmail.com",
        "dname": "mailsend",
        "x": 920,
        "y": 980,
        "wires": []
    },
    {
        "id": "1409d72b2060e731",
        "type": "comment",
        "z": "1e1d57d2da5bb7c6",
        "name": "https://flows.nodered.org/node/node-red-node-email",
        "info": "[]()https://flows.nodered.org/node/node-red-node-email",
        "x": 1010,
        "y": 940,
        "wires": []
    },
    {
        "id": "e7dad12d8e8a8ffe",
        "type": "function",
        "z": "1e1d57d2da5bb7c6",
        "name": "preparemail",
        "func": "msg.topic = \"dette er et varsel: \" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1060,
        "wires": [
            [
                "ddf0d4a75f2c6754"
            ]
        ]
    },
    {
        "id": "43c808614a1e3c4f",
        "type": "file in",
        "z": "1e1d57d2da5bb7c6",
        "name": "",
        "filename": "c:\\temp\\printerarray.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "bd57baa6.00f998"
            ]
        ]
    },
    {
        "id": "27d21d7666dfd6af",
        "type": "inject",
        "z": "1e1d57d2da5bb7c6",
        "name": "read ip-hosts from a file",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "43c808614a1e3c4f"
            ]
        ]
    }
]