sqlite2printerdata.json
[
    {
        "id": "a7231f61188ee96e",
        "type": "sqlite",
        "z": "7d551c48106025c7",
        "mydb": "fe775cdef0b98bdb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO printerdata (Component, Status , LifeRemaining, EstPages, EstDays, PrinterUrl) VALUES ($val1, $val2, $val3,$val4, $val5, $val6)",
        "name": "into_sqldata",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "1cb27c3c7754640a"
            ]
        ]
    },
    {
        "id": "af489741c7a20e28",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "prepare-params",
        "func": "\n\nmsg.params = {\n    $val1: msg.payload.Component, \n    $val2: msg.payload.Status,\n    $val3: msg.payload.LifeRemaining,\n    $val4: msg.payload.EstPages,\n    $val5: msg.payload.EstDays,\n    $val6: msg.payload.PrinterUrl\n    \n    }\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "0058133e86fc814b"
            ]
        ]
    },
    {
        "id": "11647df7ae8d2bce",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "printer-json-data 2stk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"Component\":\"Cyan\",\"Status\":\"yes\",\"LifeRemaining\":\"80&\",\"EstPages\":46,\"EstDays\":20,\"PrinterUrl\":\"printer1\"}]",
        "payloadType": "json",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "cd027851cd3f6dad"
            ]
        ]
    },
    {
        "id": "0faf6ca9804d6f4f",
        "type": "debug",
        "z": "7d551c48106025c7",
        "name": "payloadres",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "cd027851cd3f6dad",
        "type": "split",
        "z": "7d551c48106025c7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "af489741c7a20e28"
            ]
        ]
    },
    {
        "id": "599869c4b8ba596f",
        "type": "sqlite",
        "z": "7d551c48106025c7",
        "mydb": "fe775cdef0b98bdb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "xeroxdata",
        "x": 840,
        "y": 440,
        "wires": [
            [
                "0faf6ca9804d6f4f",
                "c3d495986a3d1a4c"
            ]
        ]
    },
    {
        "id": "1d7289dfb23d0e03",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "create sqldata2 ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE sqldata2 (component\tTEXT, printer_url TEXT, Life_Remaining TEXT, est_days INTEGER, status TEXT, rating INTEGER, est_pages INTEGER)",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "599869c4b8ba596f"
            ]
        ]
    },
    {
        "id": "1cb27c3c7754640a",
        "type": "debug",
        "z": "7d551c48106025c7",
        "d": true,
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "a1b49c1e4f810908",
        "type": "debug",
        "z": "7d551c48106025c7",
        "name": "completeobject",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "926cbfbd7862f9d2",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "select all",
        "func": "msg.topic = \"select * from printerdata\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "599869c4b8ba596f"
            ]
        ]
    },
    {
        "id": "26b7d67a60cbd488",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "926cbfbd7862f9d2"
            ]
        ]
    },
    {
        "id": "0058133e86fc814b",
        "type": "delay",
        "z": "7d551c48106025c7",
        "name": "delay 1 sec",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "a7231f61188ee96e",
                "a1b49c1e4f810908"
            ]
        ]
    },
    {
        "id": "98801a0d59d2ee93",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "count all",
        "func": "msg.topic = \"select count(*) as antall from printerdata\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "599869c4b8ba596f"
            ]
        ]
    },
    {
        "id": "ea54b8134bd6d803",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "98801a0d59d2ee93"
            ]
        ]
    },
    {
        "id": "c3d495986a3d1a4c",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "format chart data",
        "func": "// Create a data variable   \nvar series = [\"temp DegC\"];\nvar labels = [\"Data Values\"];\nvar data = \"[[\";\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    data += '{ \"x\":' + msg.payload[i].ts2 + ', \"y\":' + msg.payload[i].EstPages + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{ \"series\": series, \"data\": jsondata, \"labels\": labels }];\n\n\nreturn msg;  \n\n\n/*\n\nvar series = [\"temp DegC\"];  \n var labels = [\"Data Values\"];  \n var data = \"[[\";  \n   \n for (var i=0; i < msg.payload.length; i++) {  \n   data += '{ \"x\":' + msg.payload[i].thetime + ', \"y\":' + msg.payload[i].thetemp + '}';  \n   if (i < (msg.payload.length - 1)) {  \n     data += \",\"  \n   } else {  \n     data += \"]]\"  \n   }  \n }  \n var jsondata = JSON.parse(data);  \n msg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];  \n   \n   \n return msg;  \n\n */",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c984fe0952763ca3"
            ]
        ]
    },
    {
        "id": "c984fe0952763ca3",
        "type": "debug",
        "z": "7d551c48106025c7",
        "name": "debug 356",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "93b24661dcb38ab1",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "topic",
        "func": "var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "037aabcbb0eeece6",
                "57ca7008d8777b8c"
            ]
        ]
    },
    {
        "id": "8d0c74ac10413988",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "93b24661dcb38ab1"
            ]
        ]
    },
    {
        "id": "b54ec9d6f2b47547",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "037aabcbb0eeece6",
                "57ca7008d8777b8c"
            ]
        ]
    },
    {
        "id": "2b1d8fc8fa6fbeb6",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b54ec9d6f2b47547"
            ]
        ]
    },
    {
        "id": "1ed63934b1405e7c",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "label",
        "func": "var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "037aabcbb0eeece6",
                "57ca7008d8777b8c"
            ]
        ]
    },
    {
        "id": "7e82ef95bfbce684",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "1ed63934b1405e7c"
            ]
        ]
    },
    {
        "id": "037aabcbb0eeece6",
        "type": "debug",
        "z": "7d551c48106025c7",
        "name": "debug 357",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "57ca7008d8777b8c",
        "type": "ui-chart",
        "z": "7d551c48106025c7",
        "group": "fb2e77ec2c2a5dd1",
        "name": "demochart",
        "label": "demochart",
        "order": 9007199254740991,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "linear",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "width": 6,
        "height": 8,
        "className": "",
        "x": 830,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "df30015eb69e4bb1",
        "type": "function",
        "z": "7d551c48106025c7",
        "name": "function 4",
        "func": "msg = {\n    \"topic\": \"line-1\",\n    \"payload\": [{\n        \"x\": 30,\n        \"y\": 43\n    }, {\n        \"x\": 40,\n        \"y\": 56\n    }, {\n        \"x\": 50,\n        \"y\": 74\n    }, {\n        \"x\": 33,\n        \"y\": 99\n \n    \n    }]\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "57ca7008d8777b8c"
            ]
        ]
    },
    {
        "id": "734fa4faf127c49a",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 20,
        "wires": [
            [
                "df30015eb69e4bb1"
            ]
        ]
    },
    {
        "id": "23aeaade532605bf",
        "type": "inject",
        "z": "7d551c48106025c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "57ca7008d8777b8c"
            ]
        ]
    },
    {
        "id": "fe775cdef0b98bdb",
        "type": "sqlitedb",
        "db": "c:\\sqlite3\\xeroxdata.sql",
        "mode": "RWC"
    },
    {
        "id": "fb2e77ec2c2a5dd1",
        "type": "ui-group",
        "name": "Table examples",
        "page": "c466b7e4bb472f99",
        "width": "16",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c466b7e4bb472f99",
        "type": "ui-page",
        "name": "Tables",
        "ui": "cb79bc4520925e32",
        "path": "/tables",
        "icon": "table",
        "layout": "notebook",
        "theme": "0d92c765bfad87e6",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "cb79bc4520925e32",
        "type": "ui-base",
        "name": "My UI",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "0d92c765bfad87e6",
        "type": "ui-theme",
        "name": "Basic Blue Theme",
        "colors": {
            "surface": "#4d58ff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]