xeroxflow240424.json
[
    {
        "id": "fa64ff49b8b6cb0b",
        "type": "tab",
        "label": "xerox2db",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e34f6d5a73b419d",
        "type": "sqlite",
        "z": "fa64ff49b8b6cb0b",
        "mydb": "2b4dcb484b37dee5",
        "sqlquery": "prepared",
        "sql": "INSERT INTO printerdata (component, status , liferemaining, estpages, estdays, printerurl) VALUES ($val1, $val2, $val3,$val4, $val5, $val6)",
        "name": "into_sqldata",
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "eff7f48ba3eb89de"
            ]
        ]
    },
    {
        "id": "c59063c1a31e7a17",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "name": "prepare-params",
        "func": "\n\nmsg.params = {\n    $val1: msg.payload.component, \n    $val2: msg.payload.status,\n    $val3: msg.payload.liferemaining,\n    $val4: msg.payload.estpages,\n    $val5: msg.payload.estdays,\n    $val6: msg.payload.printerurl\n    \n    }\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 160,
        "wires": [
            [
                "025c791b755d7263"
            ]
        ]
    },
    {
        "id": "368a3dcf24a64557",
        "type": "split",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "c59063c1a31e7a17",
                "ed0552767490750f"
            ]
        ]
    },
    {
        "id": "5a60fc538a1f0b97",
        "type": "sqlite",
        "z": "fa64ff49b8b6cb0b",
        "mydb": "2b4dcb484b37dee5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "xeroxdata",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "ec276d432cdda7b9",
                "96561fe2ea963144",
                "edf594f39cadbcc3"
            ]
        ]
    },
    {
        "id": "736e627c7f1b3aad",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "name": "select all",
        "func": "msg.topic = \"select component, status, liferemaining, estpages, estdays, printerurl, timestamp from printerdata\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "5a60fc538a1f0b97"
            ]
        ]
    },
    {
        "id": "9f70fda0549dc03f",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "736e627c7f1b3aad"
            ]
        ]
    },
    {
        "id": "025c791b755d7263",
        "type": "delay",
        "z": "fa64ff49b8b6cb0b",
        "name": "delay 1 sec",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "1e34f6d5a73b419d"
            ]
        ]
    },
    {
        "id": "ec276d432cdda7b9",
        "type": "ui-template",
        "z": "fa64ff49b8b6cb0b",
        "group": "ec56c2a77b8b0b40",
        "page": "",
        "ui": "",
        "name": "table-setup",
        "order": 4,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n\n \n  \n  <!-- Provide an input text box to search the content -->\n  <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n    hide-details></v-text-field>\n  <v-data-table v-model:search=\"search\" :items=\"msg?.payload\">\n\n \n  \n  <template v-slot:item.printerurl=\"{ item }\">\n    <!-- turn the email column to an Email hyperlink -->\n    <span class=\"printerurl-txt\">\n    <a :href=\"item.printerurl\">{{item.printerurl}}</a>\n\n      \n      </span>\n  </template>\n\n\n\n    <template v-slot:item.liferemaining=\"{ item }\">\n      <!-- Display the progress as a linear progress -->\n      <v-progress-linear :color=\"getProgressColor(item)\" :model-value=\"item.liferemaining\" bg-color=\"yellow\"\n        height=\"20\"></v-progress-linear>\n\n\n      <span class=\"progress-bar-txt\">\n            {{item.liferemaining}}%\n        </span>\n\n\n    </template>\n\n    <template v-slot:item.estpages=\"{ item }\">\n      <!-- Add a custom suffix \"years\" after the number -->\n      <v-chip :color=\"getChipColor(item)\">\n        {{ item.estpages }}\n      </v-chip>\n    </template>\n\n    <template v-slot:item.estdays=\"{ item }\">\n      <!-- Add a custom suffix \"years\" after the number -->\n      <v-chip :color=\"getChipColor2(item)\">\n        {{ item.estdays }}\n      </v-chip>\n    </template>\n\n    <template v-slot:item.component=\"{ item }\">\n      <v-chip size=\"large\" class=\"ma-2\" label :color=\"getColor(item.component)\">{{ item.component }}</v-chip>\n\n    </template>\n\n    <template v-slot:item.status=\"{ item }\">\n      <v-chip :color=\"getColorStatus(item.status)\" variant=\"text\"> {{ item.status }}</v-chip>\n    </template>\n\n \n\n\n  </v-data-table>\n</template>\n\n\n\n<script>\n  export default {\n    data () {\n      return {\n          sortBy: [{ key: 'timestamp', order: 'desc' }],\n      \n        search: ''\n      }\n    },\n  \n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n      \n        getColorStatus (status) {\n        if (status == \"ERROR\") return 'red'\n        else if (status == \"Pink\") return 'pink'\n        else if (status == \"Yellow\") return 'yellow'\n        else if (status == \"Red\") return 'red'\n        else return 'grey'\n        },\n    getProgressColor: function (item) {\n    if (item !== undefined ) {\n    if (item.liferemaining < 30) { return 'red' ; } \n      else { if (item.liferemaining> 130) {\n      return 'orange';\n      } else {\n      return 'green';\n      }\n      }\n      }\n      },\n    getColor (component) {\n      if (component == \"Cyan Toner\") return 'cyan'\n        else if (component == \"Magenta Toner\") return 'pink'\n        else if (component == \"Yellow Toner\") return 'yellow'\n        else if (component == \"Black Toner\") return 'grey' \n      else return 'Secondary'\n    },\n      getChipColor: function (item) {\n        if (item !== undefined ) {\n          if (item.estpages < 7500) {\n            return 'red';\n            } else {\n              if (item.estpages > 15000) {\n                return 'green';\n              } else {\n                return 'orange';\n            }\n          }\n        }\n      },\n    getChipColor2: function (item) {\n    if (item !== undefined ) {\n      if (item.estdays < 55) { return 'red' ; \n        } else { if (item.estdays> 120) {\n          return 'green';\n        } else {\n          return 'orange';\n            }\n          }\n        }\n      }\n    }   \n    \n  }\n</script>\n\n<style>\n  /* define any styles here - supports raw CSS */\n  .printerurl-txt {\n    font-size: 24px;\n    color: yellow;\n  }\n\n  /* unvisited link */\n  a:link {\n  color: cyan;\n  }\n  \n  /* visited link */\n  a:visited {\n  color: pink;\n  }\n  \n  /* mouse over link */\n  a:hover {\n  color: orange;\n  }\n  \n  /* selected link */\n  a:active {\n  color: yellow;\n  }\n</style>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 500,
        "wires": [
            [
                "1bd02d239820fb20"
            ]
        ]
    },
    {
        "id": "ed29a98839c4cf86",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "empty table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "ec276d432cdda7b9"
            ]
        ]
    },
    {
        "id": "1bd02d239820fb20",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "debug 363",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 500,
        "wires": []
    },
    {
        "id": "d1c37b991fe4674b",
        "type": "ui-button",
        "z": "fa64ff49b8b6cb0b",
        "group": "83f18ae4b4e81c88",
        "name": "",
        "label": "Load all data",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "database-export",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "736e627c7f1b3aad"
            ]
        ]
    },
    {
        "id": "209883e1576e61e5",
        "type": "http request",
        "z": "fa64ff49b8b6cb0b",
        "name": "altalink",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:3001/altalink",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "da1d33ac8063762d"
            ]
        ]
    },
    {
        "id": "da1d33ac8063762d",
        "type": "json",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "f18f91983d309afb"
            ]
        ]
    },
    {
        "id": "f18f91983d309afb",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.*. {\t    \"component\": component,\t    \"status\": status,\t    \"liferemaining\": $replace(liferemaining,  /[^0-9]/,\"\"),\t    \"estpages\": estpages,\t    \"estdays\": estdays,\t    \"printerurl\": printerurl,\t    \"timestamp\": timestamp\t    \t}\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "368a3dcf24a64557"
            ]
        ]
    },
    {
        "id": "ed0552767490750f",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 364",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "1c982b58fdb4fa19",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "web-scrape1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "209883e1576e61e5"
            ]
        ]
    },
    {
        "id": "207e8d039b1cc6b4",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 365",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "e213bfa271229e44",
        "type": "sqlite",
        "z": "fa64ff49b8b6cb0b",
        "mydb": "2b4dcb484b37dee5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "query xeroxdata",
        "x": 540,
        "y": 720,
        "wires": [
            [
                "207e8d039b1cc6b4",
                "12afc9243fdd650c",
                "ec276d432cdda7b9",
                "cc1fda8d190bfd60"
            ]
        ]
    },
    {
        "id": "4e8746e656fe2f22",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "demodata",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"component\":\"Magenta Toner\",\"status\":\"ERROR\",\"liferemaining\":33,\"estpages\":10000,\"estdays\":11,\"printerurl\":\"printer1\"},{\"component\":\"Yellow Toner\",\"status\":\"ERROR\",\"liferemaining\":55,\"estpages\":1258,\"estdays\":636,\"printerurl\":\"printer4\"},{\"component\":\"Trommelkassett (R1)\",\"status\":\"unknown\",\"liferemaining\":67,\"estpages\":555,\"estdays\":11,\"printerurl\":\"printer3\"}]",
        "payloadType": "json",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "ec276d432cdda7b9"
            ]
        ]
    },
    {
        "id": "02d6298d41a6c1a9",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "name": "sql_check_thresholds",
        "func": "msg.topic = \"select ts, printerurl, component, status, liferemaining, estdays, estpages  from printerdata where ts >= datetime('now','-24 hours') AND (estpages < 100 OR estdays < 14 OR status NOT LIKE 'OK')\"\nreturn msg;\n\n\n// select ts, printerurl, component, status, liferemaining, estdays, estpages  from printerdata where ts >= datetime('now','-4 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK');",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "e213bfa271229e44"
            ]
        ]
    },
    {
        "id": "1494a6faa73ae2fc",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "daily",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "02d6298d41a6c1a9"
            ]
        ]
    },
    {
        "id": "301c17abd0d62fd9",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "demo WarningInfo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"ts\":\"2024-04-12 18:28:36\",\"printerurl\":\"printer1\",\"component\":\"Magenta Toner\",\"status\":\"ERROR\",\"liferemaining\":33,\"estdays\":11,\"estpages\":10000},{\"ts\":\"2024-04-12 18:28:37\",\"printerurl\":\"printer4\",\"component\":\"Yellow Toner\",\"status\":\"ERROR\",\"liferemaining\":55,\"estdays\":636,\"estpages\":1258},{\"ts\":\"2024-04-12 18:28:38\",\"printerurl\":\"printer3\",\"component\":\"Trommelkassett (R1)\",\"status\":\"unknown\",\"liferemaining\":67,\"estdays\":11,\"estpages\":555},{\"ts\":\"2024-04-12 18:30:05\",\"printerurl\":\"printer1\",\"component\":\"Black Toner\",\"status\":\"ERROR\",\"liferemaining\":33,\"estdays\":11,\"estpages\":10000},{\"ts\":\"2024-04-12 18:30:07\",\"printerurl\":\"printer3\",\"component\":\"Trommelkassett (R1)\",\"status\":\"unknown\",\"liferemaining\":67,\"estdays\":11,\"estpages\":555},{\"ts\":\"2024-04-12 18:31:08\",\"printerurl\":\"printer1\",\"component\":\"Black Toner\",\"status\":\"ERROR\",\"liferemaining\":11,\"estdays\":11,\"estpages\":10000},{\"ts\":\"2024-04-12 18:31:09\",\"printerurl\":\"printer4\",\"component\":\"Cyan Toner\",\"status\":\"OK\",\"liferemaining\":5,\"estdays\":2,\"estpages\":1258},{\"ts\":\"2024-04-12 18:31:10\",\"printerurl\":\"printer3\",\"component\":\"Trommelkassett (R1)\",\"status\":\"unknown\",\"liferemaining\":67,\"estdays\":11,\"estpages\":555},{\"ts\":\"2024-04-12 19:21:22\",\"printerurl\":\"printer1\",\"component\":\"Black Toner\",\"status\":\"ERROR\",\"liferemaining\":11,\"estdays\":11,\"estpages\":10000},{\"ts\":\"2024-04-12 19:21:23\",\"printerurl\":\"printer4\",\"component\":\"Cyan Toner\",\"status\":\"OK\",\"liferemaining\":5,\"estdays\":2,\"estpages\":1258},{\"ts\":\"2024-04-12 19:21:24\",\"printerurl\":\"printer3\",\"component\":\"Trommelkassett (R1)\",\"status\":\"unknown\",\"liferemaining\":67,\"estdays\":11,\"estpages\":555},{\"ts\":\"2024-04-12 21:12:41\",\"printerurl\":\"printer1\",\"component\":\"Black Toner\",\"status\":\"OK\",\"liferemaining\":11,\"estdays\":11,\"estpages\":9000},{\"ts\":\"2024-04-12 21:12:42\",\"printerurl\":\"printer4\",\"component\":\"Cyan Toner\",\"status\":\"OK\",\"liferemaining\":5,\"estdays\":2,\"estpages\":1258},{\"ts\":\"2024-04-12 21:12:43\",\"printerurl\":\"printer3\",\"component\":\"Trommelkassett (R1)\",\"status\":\"unknown\",\"liferemaining\":67,\"estdays\":11,\"estpages\":555}]",
        "payloadType": "json",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "5209d877de6d1192"
            ]
        ]
    },
    {
        "id": "d7f68fdc5f4169b6",
        "type": "ui-notification",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "ui": "cb79bc4520925e32",
        "position": "top center",
        "colorDefault": false,
        "color": "#fde808",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 930,
        "y": 1020,
        "wires": []
    },
    {
        "id": "20803575f90bde4e",
        "type": "csv",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "ts, printerurl, component, status, liferemaining, estdays, estpages",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 730,
        "y": 940,
        "wires": [
            [
                "93880ad26150572b",
                "d7f68fdc5f4169b6"
            ]
        ]
    },
    {
        "id": "93880ad26150572b",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 366",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 940,
        "wires": []
    },
    {
        "id": "12afc9243fdd650c",
        "type": "json",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 860,
        "wires": [
            [
                "20803575f90bde4e"
            ]
        ]
    },
    {
        "id": "0c6542ad793de010",
        "type": "ui-button",
        "z": "fa64ff49b8b6cb0b",
        "group": "83f18ae4b4e81c88",
        "name": "",
        "label": "Low level last 24h",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "filter-check",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "65094a9d7d4bfcf6"
            ]
        ]
    },
    {
        "id": "90de465e9ae40e45",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "sql_check_thresholds",
        "func": "msg.topic = \"select count(*) from printerdata where ts >= datetime('now','-22 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK')\"\nreturn msg;\n\n// select count(*) from printerdata where ts >= datetime('now','-22 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK')\n\n// select ts, printerurl, component, status, liferemaining, estdays, estpages  from printerdata where ts >= datetime('now','-4 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK');",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 860,
        "wires": [
            [
                "e213bfa271229e44"
            ]
        ]
    },
    {
        "id": "7de522551101da8a",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 820,
        "wires": [
            [
                "90de465e9ae40e45"
            ]
        ]
    },
    {
        "id": "96561fe2ea963144",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].countall",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "cfed3325bd55196c"
            ]
        ]
    },
    {
        "id": "cfed3325bd55196c",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "debug 368",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "36abb401dcbfeb43",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 370",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 780,
        "wires": []
    },
    {
        "id": "cc1fda8d190bfd60",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.*.{\"statuscount\": $count($[status = \"ERROR\"])}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 780,
        "wires": [
            [
                "36abb401dcbfeb43"
            ]
        ]
    },
    {
        "id": "46bb7f49d380f7c3",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.liferemainingcount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1300,
        "wires": [
            [
                "c1647b459aab424b"
            ]
        ]
    },
    {
        "id": "c1647b459aab424b",
        "type": "ui-gauge",
        "z": "fa64ff49b8b6cb0b",
        "name": "Liferemainingcount",
        "group": "816ae9167bdf54e4",
        "order": 3,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Life remaining < 30%",
        "units": "",
        "icon": "timer-sand-empty",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "14",
                "color": "#ffc800"
            },
            {
                "from": "45",
                "color": "#ea5353"
            }
        ],
        "min": "0",
        "max": "50",
        "sizeThickness": "12",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5209d877de6d1192",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.${\t    \"liferemainingcount\":$count($[liferemaining < 10]),\t    \"estpagescount\": $count($[estpages < 3000]),\t    \"estdayscount\": $count($[estdays < 14]),\t    \"errorcount\": $count($[status = \"ERROR\" ]),\t    \"reordercount\" :$count($[status = \"Reorder\" ])\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1340,
        "wires": [
            [
                "6426b46ff321783e",
                "3188651c310e1979",
                "46bb7f49d380f7c3",
                "794b94dbd91e9a45",
                "9c4b0cd54a275f2e",
                "faebfa78ad04f0fc"
            ]
        ]
    },
    {
        "id": "6426b46ff321783e",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 371",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3188651c310e1979",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.estpagescount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1260,
        "wires": [
            [
                "1e02838b7408aa6d"
            ]
        ]
    },
    {
        "id": "92427c4dcc7a0686",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 372",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1e02838b7408aa6d",
        "type": "ui-gauge",
        "z": "fa64ff49b8b6cb0b",
        "name": "Estpagescount",
        "group": "816ae9167bdf54e4",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Est pages < 3000 pages",
        "units": "",
        "icon": "tray-alert",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "15",
                "color": "#ffc800"
            },
            {
                "from": "25",
                "color": "#1eff00"
            }
        ],
        "min": "0",
        "max": "30",
        "sizeThickness": "12",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e15b2ae30f493e4b",
        "type": "sqlite",
        "z": "fa64ff49b8b6cb0b",
        "mydb": "2b4dcb484b37dee5",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "query xeroxdata",
        "x": 260,
        "y": 1200,
        "wires": [
            [
                "5209d877de6d1192",
                "92427c4dcc7a0686",
                "ec276d432cdda7b9"
            ]
        ]
    },
    {
        "id": "10f156843f6e6024",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1340,
        "wires": [
            [
                "65094a9d7d4bfcf6"
            ]
        ]
    },
    {
        "id": "2707e794545c6cba",
        "type": "ui-button",
        "z": "fa64ff49b8b6cb0b",
        "group": "83f18ae4b4e81c88",
        "name": "",
        "label": "Webscape now",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "download",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "209883e1576e61e5",
                "e21e3ef252332e9b"
            ]
        ]
    },
    {
        "id": "794b94dbd91e9a45",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.estdayscount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "5b97dd5ca74ca7b3"
            ]
        ]
    },
    {
        "id": "5b97dd5ca74ca7b3",
        "type": "ui-gauge",
        "z": "fa64ff49b8b6cb0b",
        "name": "Estdayscount",
        "group": "816ae9167bdf54e4",
        "order": 5,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Est days < 14 days",
        "units": "",
        "icon": "timer-sand",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "15",
                "color": "#ffc800"
            },
            {
                "from": "25",
                "color": "#1eff00"
            }
        ],
        "min": "0",
        "max": "30",
        "sizeThickness": "12",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "9c4b0cd54a275f2e",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.errorcount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1420,
        "wires": [
            [
                "64f4840260e08d46"
            ]
        ]
    },
    {
        "id": "64f4840260e08d46",
        "type": "ui-gauge",
        "z": "fa64ff49b8b6cb0b",
        "name": "Errorcunt",
        "group": "816ae9167bdf54e4",
        "order": 6,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Status=ERROR",
        "units": "",
        "icon": "printer-alert",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "15",
                "color": "#ffc800"
            },
            {
                "from": "25",
                "color": "#1eff00"
            }
        ],
        "min": "0",
        "max": "30",
        "sizeThickness": "12",
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 680,
        "y": 1420,
        "wires": []
    },
    {
        "id": "a91a25bcb1b476d2",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "sql_check_thresholds",
        "func": "msg.topic = \"select count(*) from printerdata where ts >= datetime('now','-24 hours') AND (estpages < 1000 OR estdays < 30 OR status NOT LIKE 'OK')\"\nreturn msg;\n\n// select count(*) from printerdata where ts >= datetime('now','-22 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK')\n\n// select ts, printerurl, component, status, liferemaining, estdays, estpages  from printerdata where ts >= datetime('now','-4 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK');",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f4dce8579dda2866",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 940,
        "wires": [
            [
                "a91a25bcb1b476d2"
            ]
        ]
    },
    {
        "id": "65094a9d7d4bfcf6",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "name": "sql_check_thresholds",
        "func": "msg.topic = \"select MAX(timestamp), printerurl, component, estdays, status, liferemaining, estdays, estpages FROM printerdata WHERE component IS NOT NULL GROUP BY printerurl, component\"\n//msg.topic = \"select ts, printerurl, component, status, liferemaining, estdays, estpages  from printerdata where ts >= datetime('now','-24 hours') AND (estpages < 3000 AND estdays < 14 OR status NOT LIKE 'OK')\"\n//msg.topic = \"select MAX(timestamp), printerurl, component, estdays, status, liferemaining, estdays, estpages from printerdata group by printerurl, estdays, estpages, status, liferemaining)\"\nreturn msg;\n\n\n// select MAX(timestamp), printerurl, component, estdays, status, liferemaining, estdays, estpages from printerdata group by printerurl, estdays, estpages, status, liferemaining;\n// select ts, printerurl, component, status, liferemaining, estdays, estpages  from printerdata where ts >= datetime('now','-4 hours') AND (estpages < 1 OR estdays < 4 OR status NOT LIKE 'OK');",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1120,
        "wires": [
            [
                "e15b2ae30f493e4b"
            ]
        ]
    },
    {
        "id": "faebfa78ad04f0fc",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.reordercount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1480,
        "wires": [
            [
                "4691e4ac4c403f14"
            ]
        ]
    },
    {
        "id": "4691e4ac4c403f14",
        "type": "ui-text",
        "z": "fa64ff49b8b6cb0b",
        "group": "816ae9167bdf54e4",
        "order": 1,
        "width": "2",
        "height": "2",
        "name": "Reordercount",
        "label": "Reordercount: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#f50000",
        "className": "",
        "x": 720,
        "y": 1480,
        "wires": []
    },
    {
        "id": "fbd4329bfaeeab89",
        "type": "ui-button",
        "z": "fa64ff49b8b6cb0b",
        "group": "83f18ae4b4e81c88",
        "name": "",
        "label": "Latest values printer",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "database-export",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "c6241aa772809cee"
            ]
        ]
    },
    {
        "id": "c6241aa772809cee",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "name": "select all",
        "func": "msg.topic = \"SELECT MAX(timestamp), printerurl, component, estdays, status, liferemaining, estdays, estpages FROM printerdata WHERE component IS NOT NULL GROUP BY printerurl, component\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "5a60fc538a1f0b97"
            ]
        ]
    },
    {
        "id": "edf594f39cadbcc3",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 373",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "931a455992a51513",
        "type": "ui-text-input",
        "z": "fa64ff49b8b6cb0b",
        "group": "816ae9167bdf54e4",
        "name": "Write SQL statements",
        "label": "select MAX(timestamp) as date, printerurl, component, status, liferemaining, estpages, estdays from printerdata where component like '%oner%' AND liferemaining < 30 group by printerurl, component",
        "order": 7,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "c83d771b2c3662f4"
            ]
        ]
    },
    {
        "id": "c83d771b2c3662f4",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "e213bfa271229e44"
            ]
        ]
    },
    {
        "id": "5be91965c8e734c9",
        "type": "comment",
        "z": "fa64ff49b8b6cb0b",
        "name": "http://localhost:3002/workcentre",
        "info": "",
        "x": 1130,
        "y": 60,
        "wires": []
    },
    {
        "id": "e21e3ef252332e9b",
        "type": "http request",
        "z": "fa64ff49b8b6cb0b",
        "name": "workcentre",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3002/workcentre",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "da1d33ac8063762d"
            ]
        ]
    },
    {
        "id": "fc99ce1691a397ba",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "web-scrape2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "e21e3ef252332e9b"
            ]
        ]
    },
    {
        "id": "eff7f48ba3eb89de",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "d": true,
        "name": "debug 378",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "96e6bd0da2091f07",
        "type": "function",
        "z": "fa64ff49b8b6cb0b",
        "name": "Set-up name-value map",
        "func": "// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"test\": 'testdata',\n    \"test2\": 'test2'\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "92829b2ebb7c05c6"
            ]
        ]
    },
    {
        "id": "92829b2ebb7c05c6",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "9201ec1f77cbf3e7"
            ]
        ]
    },
    {
        "id": "88b4648c6f19cbd6",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 660,
        "wires": [
            [
                "96e6bd0da2091f07"
            ]
        ]
    },
    {
        "id": "9201ec1f77cbf3e7",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 379",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 540,
        "wires": []
    },
    {
        "id": "4a7bebe7285b590d",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"test\":\"test\",\"test2\":\"test2\"}]",
        "payloadType": "json",
        "x": 990,
        "y": 720,
        "wires": [
            [
                "92829b2ebb7c05c6"
            ]
        ]
    },
    {
        "id": "2c45b19efe275ba8",
        "type": "debug",
        "z": "fa64ff49b8b6cb0b",
        "name": "debug 380",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "bf5bb22aecd6f17a",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "options",
                "v": "[{\"value\":\"select * from printerdata limit 10\",\"label\":\"limit10\"},{\"value\":\"select * from printerdata where estdays < 10 limit 10\",\"label\":\"estdays < 10\"},{\"value\":\"select printerurl, MIN(timestamp) as mintime, MAX(timestamp) as maxtime from printerdata group by printerurl\",\"label\":\"first and last printerurl record\"}]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "d9da05e91e95fecb"
            ]
        ]
    },
    {
        "id": "c36e3f33c06e903a",
        "type": "inject",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "c6241aa772809cee"
            ]
        ]
    },
    {
        "id": "229724db8fa95468",
        "type": "ui-button",
        "z": "fa64ff49b8b6cb0b",
        "group": "83f18ae4b4e81c88",
        "name": "",
        "label": "Clear table",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 580,
        "wires": [
            [
                "ec276d432cdda7b9"
            ]
        ]
    },
    {
        "id": "d9da05e91e95fecb",
        "type": "ui-dropdown",
        "z": "fa64ff49b8b6cb0b",
        "group": "83f18ae4b4e81c88",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "c2ce06fee0eacaed",
                "2c45b19efe275ba8"
            ]
        ]
    },
    {
        "id": "c2ce06fee0eacaed",
        "type": "change",
        "z": "fa64ff49b8b6cb0b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "2c45b19efe275ba8",
                "5a60fc538a1f0b97",
                "88c002c276eca1db"
            ]
        ]
    },
    {
        "id": "88c002c276eca1db",
        "type": "ui-notification",
        "z": "fa64ff49b8b6cb0b",
        "ui": "cb79bc4520925e32",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b4dcb484b37dee5",
        "type": "sqlitedb",
        "db": "c:\\users\\06194828\\data\\xeroxdata",
        "mode": "RWC"
    },
    {
        "id": "ec56c2a77b8b0b40",
        "type": "ui-group",
        "name": "Table",
        "page": "9a0625b471898271",
        "width": "20",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "83f18ae4b4e81c88",
        "type": "ui-group",
        "name": "Load",
        "page": "9a0625b471898271",
        "width": "4",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "cb79bc4520925e32",
        "type": "ui-base",
        "name": "My UI",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "816ae9167bdf54e4",
        "type": "ui-group",
        "name": "Number of components below threshold values in the last 24 hours",
        "page": "9a0625b471898271",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9a0625b471898271",
        "type": "ui-page",
        "name": "xeroxdata",
        "ui": "cb79bc4520925e32",
        "path": "/xerox",
        "icon": "home",
        "layout": "flex",
        "theme": "1c0bf383e941114c",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1c0bf383e941114c",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#000000",
            "primary": "#7a7e7f",
            "bgPage": "#000000",
            "groupBg": "#000000",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]